<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
		<!-- uncache -->
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<!-- enduncache -->
    </head>
    <body>
        {{{body}}}
		<!-- uncache -->
        <script src="/js/bundle.js"></script>
		<!-- enduncache -->
    </body>
</html>
